
<%= decidim_form_for(@form, html: { class: "form edit_participatory_process" },
                     url: decidim_census_admin.subcensus_path(@form),
                     method: :put) do |f| %>
  <%= render partial: "form", object: f %>
  <div class="button--double form-general-submit">
    <%= f.submit t('.update'), class: "button" %>
  </div>
<% end %>
