
<%= decidim_form_for(@form, html: { class: "form edit_participatory_process" },
                     url: decidim_census_admin.subcensuses_path,
                     method: :post) do |f| %>
  <%= render partial: "form", object: f %>
  <div class="button--double form-general-submit">
    <%= f.submit t('.create'), class: "button" %>
  </div>
<% end %>
