<!DOCTYPE html>
<html>
<head>
  <title>Census</title>
  <%= stylesheet_link_tag    "census/application", media: "all" %>
  <%= javascript_include_tag "census/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
